* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

span {
  display: block;
}

body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  margin: 0;
  font-size: 50px;
}

#app {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
