#card-content {
	background-size: cover;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-top: 50px;
	border-radius: 10px;
	color: #fff;
	box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

#average {
	font-size: 98px;
}

#min-max {
	font-size: 32px;
}

#weather {
	margin-top: 10px;
	font-size: 22px;
	text-transform: capitalize;
}

#weather-icon {
	margin-top: 50px;
	max-width: 60%;
}

#time {
	font-size: 22px;
}

#not-found,
#nothing-yet {
	text-align: center;
	margin-top: 30px;
	font-size: 30px;
	color: #fff;
}

#not-found p,
#nothing-yet p {
	display: inline-block;
	padding: 25px;
	font-size: 26px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	border: 1px dashed #fff;
}
